#app {
    display: flex;
    flex-direction: column;
}

#video-input {
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 40px;
}

#video-input > textarea {
    margin-right: 1em;
}

#video-grid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#video-grid > .video-cell {
    margin: 40px 40px 0 0;
    flex-basis: calc(100%/3 - 120px);
}

.video-cell img {
    display: block;
    width: 480px;
    height: 270px;
    max-width: 100vw;
    object-fit: cover;
}

.video-cell figure {
    position: relative;
    display: flex;
    justify-content: center;

    /*style reset*/
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.video-cell figure figcaption {
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 1em;
}
